body {
    font-family: 'Times New Roman', Times, serif;
    margin: 30px;
    line-height: 2;
    background-color: antiquewhite;
}

h1, h2, h3, #center {
    text-align: center;
}

h1 { color: navy; }
h2, h3 { color: darkslategray; }

.container, .mcontainer {
    display: flex;
    justify-content: center;
    padding: 20px;
    border: 2px solid black;
    background: white;
    margin-top: 10px;
}

.desktop-list li, .mobile-list li {
    margin: 10px 0;
}

.special {
    text-align: right;    
    font-weight: bold;    
}

.mcontainer { display: none; }

@media(max-width: 480px) {
    body { background-color: rgb(0, 255, 76); }

    .container { display: none; }

    .mcontainer {
        display: flex;
        background: lightcyan;
    }

    .mobile-list li {
        color: blue;
        text-align: center;
    }

    .special {
        align-self: center;
    }
}
