body {
    font-family: Arial;
    text-align: center;
    margin-top: 60px;
}

button {
    padding: 12px 20px;
    margin: 15px;
    border: none;
    background-color: #0077cc;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #005fa3;
}
